<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <%- include("layouts/header"); -%>
  <body>
    <%- include("layouts/navbar"); -%>
    <main>
      <!-- breadcrumb area start -->
      <div
        class="breadcrumb-area-2 pt-240 pb-245 include-bg"
        data-background="/assets/home/img/page-title/page-title-1.jpg"
      >
        <div class="container">
          <div class="row">
            <div class="col-xxl-12">
              <div class="breadcrumb-wrapper-2 text-center">
                <h3>Active Email</h3>
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item">
                      <a href="index.html">Home</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Active Email
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- breadcrumb area end -->
      <div class="alert alert-info">
        "User was registered successfully! Please check your email to activate
        your account."
      </div>
    </main>

    <!-- footer area start -->
    <%- include("layouts/footer"); -%>
    <!-- footer area end -->

    <%- include("layouts/script"); -%>
  </body>
</html>
